<template>
    <div class="car_wrapper">
        <div class="form-group">
            <label for="brand">Марка машины</label>
            <input v-model="brand" name="brand" type="text" class="form-control" id="brand" placeholder="Введите марку">
        </div>
        <div class="form-group">
            <label for="model">Модель машины</label>
            <input v-model="model" name="model" type="text" class="form-control" id="model" placeholder="Введите модель">
        </div>
        <div class="form-group">
            <label for="colour">Цвет машины</label>
            <input v-model="colour" name="colour" type="text" class="form-control" id="colour" placeholder="Введите цвет">
        </div>
        <div class="form-group">
            <label for="number">Номер машины</label>
            <input v-model="number" name="number" type="text" class="form-control" id="number" placeholder="Введите госномер">
        </div>
        <a @click.prevent="$parent.removeCar(index)" class="btn btn-outline-danger">Удалить автомобиль из списка</a>
    </div>
</template>

<script>
export default {
    props:['brand','model', 'colour', 'number', 'index', 'id'],
    methods:{
    },
    mounted() {
        console.log('My new component mounted');
    },
    /*data(){
        return {
            brand:this.brand,
            model:this.model,
            colour:this.colour,
            number:this.number,
        }
    },*/
}

</script>
