<template>
    <form action="/customers/add" method="post">
        <input type="hidden" name="_token" :value="csrfToken">
        <div class="form-group">
            <label for="fullName">ФИО</label>
            <input v-model="fullName" name="fullName" type="text" class="form-control" id="fullName" placeholder="Введите ФИО">
            <small id="fullNameHelp" class="form-text text-muted">ФИО по паспорту</small>
        </div>
        <div class="form-group">
            <label>Пол</label>
            <div class="form-check">
                <input v-model="sex" class="form-check-input" type="radio" name="sex" id="passportSexFemale" value="female">
                <label class="form-check-label" for="passportSexFemale">Женский</label>
            </div>
            <div class="form-check">
                <input v-model="sex" class="form-check-input" type="radio" name="sex" id="passportSexMale" value="male">
                <label class="form-check-label" for="passportSexMale">Мужской</label>
            </div>
            <small id="lastNameHelp" class="form-text text-muted">Пол по паспорту</small>
        </div>
        <div class="form-group">
            <label for="phone">Телефон</label>
            <input v-model="phoneNumber" name="phone" type="text" class="form-control" id="phone" placeholder="Введите телефон">
            <small id="lastNameHelp" class="form-text text-muted">Номер телефона в международном формате</small>
            <!--TODO: Валидация телефона, маска.-->
        </div>
        <div class="form-group">
            <label for="address">Адрес</label>
            <input v-model="address" name="address" type="text" class="form-control" id="address" placeholder="Введите Адрес">
            <small id="lastNameHelp" class="form-text text-muted">Адрес по паспорту</small>
            <!--TODO: Автопродолжение адреса, валидация.-->
        </div>
        <div class="form-group">
            <label>Автомобили:</label>
            <div class="cars_wrapper">
                <div v-for="(car, index) in cars" class="car_wrapper">
                    <div class="form-group">
                        <label for="brand">Марка машины</label>
                        <input v-model="car.brand" name="brand" type="text" class="form-control" id="brand" placeholder="Введите марку">
                    </div>
                    <div class="form-group">
                        <label for="model">Модель машины</label>
                        <input v-model="car.model" name="model" type="text" class="form-control" id="model" placeholder="Введите модель">
                    </div>
                    <div class="form-group">
                        <label for="colour">Цвет машины</label>
                        <input v-model="car.colour" name="colour" type="text" class="form-control" id="colour" placeholder="Введите цвет">
                    </div>
                    <div class="form-group">
                        <label for="number">Номер машины</label>
                        <input v-model="car.number" name="number" type="text" class="form-control" id="number" placeholder="Введите госномер">
                    </div>
                    <a  @click.prevent="removeCar(index)" class="btn btn-outline-danger">Удалить автомобиль из списка</a>
                </div>
            </div>
            <a href="#" @click.prevent="addCar()" class="btn btn-outline-primary">Добавить машину</a>
        </div>

        <div v-if="errors.length>0" id="errors_wrapper" class="alert alert-danger">
            <ul>
                <li v-for="err in errors">{{err}}</li>
            </ul>
        </div>

        <a @click.prevent="addCustomer()" class="btn btn-primary">Добавить клиента</a>
    </form>
</template>

<script>
export default {
    mounted() {
        console.log('My new component mounted');
    },
    props:{
        fullName: {
            type: String,
        },
        sex: {
            type: String,
            default: "female",
        },
        phoneNumber:{
            type: String,
        },
        address:{
            type: String,
        },
        cars: {
            type:Array,
            default:function(){
                return [];
            },
        },
        errors: {
            type: Array,
            default: function(){
                return [];
            },
        },
        csrfToken: {
            type: String,
            default: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
    },
    methods:{
        addCar(){
            this.cars.push({
                brand: "",
                model: "",
                colour:"",
                number:"",
            })
        },
        removeCar(index){
            this.cars.splice(index, 1);
        },
        addError(msg){
            this.errors.push(msg);
        },
        clearErrors(){
            this.errors = [];
        },
        validateData(){
            this.clearErrors();

            if(!/^[А-Я][а-я]{1,50}\s[А-Я][а-я]{1,50}(|\s[А-Я][а-я]{1,50})$/.test(this.fullName)){
                this.addError("Неверно заполнено поле ФИО");
            }

            if(this.sex!="male" && this.sex!="female"){
                this.addError("Неверно заполнено поле пол");
            }

            if(!(/[0-9\+]{6,15}/.test(this.phoneNumber))){
                this.addError("Неверно заполнено поле телефона");
            }

            if(!/[а-яА-ЯA-Za-z0-9\,\.\s]{10,255}/.test(this.address) || this.address.length<1){
                this.addError("Неверно заполнен адрес");
            }

            for(var i = 0;i<this.cars.length;i++){
                if(!/[a-zA-Zа-яА-Я0-9\s]{1,128}/.test(this.cars[i].model)){
                    this.addError("Неверно заполнена модель машины №"+(i+1));
                }

                if(!/[a-zA-Zа-яА-Я0-9\s\-]{1,128}/.test(this.cars[i].brand)){
                    this.addError("Неверно заполнена марка машины №"+(i+1));
                }

                if(!/[а-яА-Я]{1,128}/.test(this.cars[i].colour)){
                    this.addError("Неверно заполнен цвет машины №"+(i+1));
                }

                if(!/[а-яА-Я0-9]{1,128}/.test(this.cars[i].number)){
                    this.addError("Неверно заполнен гос. номер машины №"+(i+1));
                }
            }
            if(this.cars.length<1){
                this.addError("Вы должны добавить хотя бы одну машину");
            }
            return this.errors.length==0;
        },
        sendData(){
            var data = {
                fullName: this.fullName,
                sex: this.sex,
                phone: this.phoneNumber,
                address: this.address,
                cars: this.cars,
            }
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/customers/add", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.setRequestHeader('X-CSRF-Token', this.csrfToken);
            xhttp.send(JSON.stringify(data));
            let that = this;
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState === 4) {
                    var resp = JSON.parse(xhttp.responseText);
                    console.log(resp);
                    if(resp.success=="true"){
                        location.href="/";
                    }else{
                        console.log('bce');
                        that.clearErrors();
                        console.log('ace');
                        for (const [key, value] of Object.entries(resp)) {
                            console.log('ite');
                            console.log(key);
                            console.log(value);
                            value.forEach(function(errorMsg){
                                console.log('sit');
                                that.addError(errorMsg);
                            })
                        };
                    }
                }
            }

        },
        addCustomer(){
            if(this.validateData()){
                this.sendData()
            }
        }
    }
}
</script>

<style>

</style>
